*{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  letter-spacing: 1px;
  text-align: center;
  text-decoration:none;
}
/* font color black #29282d */

body{
  background-color: #FAF4D0;
}

h1{
      font-family: 'Open Sans', sans-serif;
}

.transition{
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
main{
  width: 90%;
  display: flex;
  margin: 0 auto;
}

header{
  position: fixed;
  height:5rem;
  display: flex;
  justify-content: center;
  /* border-bottom: 2px solid rgb(127, 140, 141,0.4); */
  border-bottom: 2px solid rgba(127, 140, 141,0.7);
  background-color: rgba(240, 240, 241,0.9);
  /* background-color: transparent; */
  width:100%;
  z-index: 1;
  box-sizing: border-box;
}


header>div{
  display: flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
}

nav{
  display: flex;
  flex-flow:row nowrap;
}
header a{
  text-decoration: none;
  padding: 1rem;
  display: flex;
  flex-flow:column nowrap;
  align-items: center;
  color:black;
  /* border: 1px solid red; */
  height:5rem;
}


header a:hover{
  /* border:1px solid red; */
  background-color: rgba(200, 200, 200,0.5);
  color:#5b5b5b;
  fill:#5b5b5b;
}

header button{
  padding-top: 5px;
  font-weight: bold;
  background-color: transparent;
  color:currentColor;
}



.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:1px solid green; */
  height: 5rem;
  width: 10rem;
  margin-left: 30px;
}

#logo{
  padding: 0;
}
#our_logo{
  animation-name: logo;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

#ordernow{
  box-sizing: border-box;
  fill:ghostwhite;
  background-color: rgba(241, 196, 15,1.0);
  border-bottom: 2px solid rgba(127, 140, 141,0.7);
  height: 5rem;
}
#ordernow svg{
  fill: currentColor;
}
#ordernow:hover{
  fill:ghostwhite;
  color:white;
  background-color:  rgba(255, 121, 63,1.0);
}

nav svg{
  fill: currentColor;
  height: 2rem;
  display: inline-block;
  /* border: 1px solid red; */
  width: 2rem;
}

header img{
  height: 5rem;
  padding: 0;
}
@keyframes logo {
  0%{
    height: 0;
  }
  100%{
    height: 5rem;
  }
}

/* general class */
.space{
  width: 100%;
  background-color: white;
  height: 50px;
}

.order{
  background-color: rgba(106, 176, 76,1.0);
  border: 1px solid rgba(186, 220, 88,1.0);
  padding: 0.5rem;
  color: ghostwhite;
  width: 11rem;
  border-radius: 5px;
}
.order:hover{
  background-color:rgba(241, 196, 15,1.0);
  /* color: #29282d; */
}
.order1{
  background-color: rgba(211, 84, 0,1.0);
  border: 1px solid rgba(230, 126, 34,1.0);
  padding: 0.5rem;
  color: ghostwhite;
  width: 11rem;
  border-radius: 5px;
}
.order1:hover{
  background-color: rgba(241, 196, 15,1.0);
}

/* main */
main{
  position: relative;
}

.mainpart{
  display: flex;
  flex-flow: row wrap;
}


.main_background{
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("../img/firstbackground.jpeg");
  background-color: ghostwhite;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
}


.main_background img{
  height: 50vh;
  filter: drop-shadow(2px 2px 5px black) ;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-delay: 3s;
  animation-duration: 12s;
  animation-timing-function: ease;
  animation-direction: alternate;
}

.main_background img:hover{
}

@keyframes spin {
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(360deg);
  }
}

.firstSession{
  /* margin-right: 15%; */
}

.split{
  height: 70vh;
  border: 1px solid grey;
  border-radius: 1px;
  /* margin-right: 50px; */
}
.main_background section{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items:center;
  height: 30vh;
  /* border: 1px solid red; */
  /* margin-right: 100px; */
  position: relative;
  left: -100px;
}

.main_background h1{
  font-family: 'Cantarell', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  color:ghostwhite;
  z-index: 100;
}



/* backgroundcolor */
.backgroundcolor{
  background-color: #f7eee2;
}

.backgroundcolor>h1{
  color:#29282d;
}
/* steps */
.steps{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 55vh;
  width: 100%;
  background-color: #f7eee2;
  z-index: 0;
}

.steps div{
  width: 20%;
  height: 55vh;
  /* border: 1px solid red; */
  color: ghostwhite;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.steps div:hover{
  width: 30%;
  height: 60vh;
  z-index: 1;
}



.steps h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  padding-bottom: 50px;
}


#step1{
  background-image:   url(../img/harvesting.jpg);
  background-size: cover;
  background-position: center;
}



#step2{
  background-image:   url(../img/rotated.jpg);
  background-size: cover;
  background-position: center;
}
#step3{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url("../img/flame.jpg");
  background-size: cover;
  background-position: center;
}
#step4{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4))/*,url("../img/flame.jpg")*/;
  background-size: cover;
  background-position: center;
}

/* #step5{
  background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url("../img/delivery.jpg");
  width: 30%;
  height: 55vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 25%;
  /* border: 1px solid red; */
}
#step5:hover{
  width: 40%;
  height: 60vh;
}



/* second pic */
.main2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)),url("../img/seaside.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background-color: #f7ecdf;
 }

@keyframes surfing {
  0%{
    transform: rotate(90deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.container{
  height: 100vh;
  width: 50%;
  flex-flow: column nowrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid red; */
  position: relative;
}
.main2 h1{
  color:rgba(241, 196, 15,1.0);
  font-size: 7vh;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  position: relative;
  top: 10vh;
}

.main2 p{
  color:ghostwhite;
  font-size: 3vh;
  position: relative;
   top:-5vh;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.order1{
  position: relative;
  top:-20vh;
}


.surfingbanana{
  width: 70%;
}

.main2 img{
  /* height: 30%; */
  width: 100%;
  /* animation-name: surfing;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  transform-origin: center -20px; */
  height: 60vh;
}
/* third pic */
.main3{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 50%;
  height:100vh;
  background-color:#f7eee2;
  border: 1px solid #FFAA0D;
  border-left: none;
}

.main3 svg{
  fill:#FFD700;

}
.main3 img{
  width: 60%;
}

/* .last */
.last{
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("../img/bananas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
 }

.last img{
  height: 70vh;
}
/* .aboutUs{
  width: 100%;
  border: 2px solid blue;
  position: absolute;
  bottom: 0%;
}

input[type="checkbox"]{
   border: 2px solid red;
  display: none;
}

.container{
  position: absolute;
  width: 100%;
  /* border: 1px solid red; */
/*  bottom: 1px;
  left: 0%;
  color: ghostwhite;
}

label, #sidebar button{
  /* border: 1px solid blue; */
  /*display: block;
  width: 150px;
  margin: 0 auto;
  bottom: 0%;
  color: ghostwhite;
  background-color: black;
  padding: 2px;
  border-radius: 5%;
}

#sidebar{
  position: absolute;
  /* bottom:-10rem; */
  /*bottom:300px;
  color:ghostwhite;
  z-index: -1;
  margin: 0 auto;
  width: 100%;
  /* border: 2px solid blue; */
  /*transition-duration: 1s;
}



input[type="checkbox"]:checked ~ .container{
  bottom:4rem;
  z-index: 1; */
/*} */
