*{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  letter-spacing: 1px;
}

header{
  height:5rem;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #A68446;
  background-color: rgba(115, 55, 2,0.6);
}


header>div{
  display: flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
header img{
  /* border:1px solid red; */
  height:5rem;
}
nav{
  display: flex;
  flex-flow:row nowrap;
}
header a{
  text-decoration: none;
  padding: 1rem;
  display: flex;
  flex-flow:column nowrap;
  align-items: center;
  color:ghostwhite;
}

header a:hover{
  color:#5b5b5b;
}


.c1{
  fill:currentColor;
  height: 2rem;
  display: inline-block;
  /* border: 1px solid red; */
  width: 2rem;
}

.c1:hover{
  fill:#5b5b5b;
}

#logo{
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 1.2rem;
}
